/**!
 * CM Tabs
 * @author MGA
 * @version 1.0.0
 * @changelog   2013/08/05      added loading class .cm-tab-loading
 * @changelog   2013/07/04      replaced outline on links by underline, default visibility of content tabs
 */

/* @group           Tabs
 * @descriptions    Generic tabs
 * @markup          .cm-tabs>(.head>ul>li*3>a)+.body+.foot|c
 * @markup          .cm-tabs>(.head>ul>(li.active>a)+(li>a))+.cm-tabs-head-aside)+.body+.foot|c
 */
    .cm-tabs {margin-bottom: 20px;}
    .cm-tabs>.head {position: relative;}
    .cm-tabs>.head ul {font-size: 0;background: url("data:image/gif;base64,R0lGODlhBAAEAIAAAP9mAAAAACH5BAAAAAAALAAAAAAEAAQAAAIEhI8JBQA7") repeat-x 0 100%;padding: 0;}
    .cm-tabs>.head li {
        font-size: 13px;
        border-bottom: 0 none;
        display:inline-block;
        *display:inline;
        vertical-align: top;
        border-bottom: 4px solid #F60;
        border-radius: 5px 5px 0 0;
        background:#fff url("data:image/gif;base64,R0lGODlhAQAhALMAAP7+/vj4+P39/fr6+vn5+fz8/Pv7+/f39/////Pz8+zs7OTk5N/f3/b29gAAAAAAACH5BAAAAAAALAAAAAABACEAAAQTECFAgbiiaMOHJ2AgBsfRJMrCRAA7") repeat-x 0 100%;
        zoom:1;
    }
    .cm-tabs>.head li+li {margin-left: -1px;}
    .cm-tabs>.head li a {
        color: #333;
        display: block;
        float: left;
        border: 1px solid #ccc;
        border-bottom: 0;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        padding: 9px 17px;
        outline:none;
        text-decoration: none;
    }
    .cm-tabs>.head li a:link, .cm-tabs>.head a:hover,.cm-tabs>.head a:visited, .cm-tabs>.head a:active {color: #333;}
    .cm-tabs>.head li.active a {
        color: #f60;
        font-weight: bold;
        padding-bottom: 13px;/*regular padding +4px*/
        padding-top: 10px;/*regular padding +1px*/
        border-top: 0 none;
    }
    .cm-tabs>.head .active a:hover {text-decoration: none;cursor: text;}
    .cm-tabs>.head a:focus {text-decoration: underline;}
    .cm-tabs>.head .active a:focus {text-decoration: none;}
    .cm-tabs>.head .active {
        border-bottom: 0 none;
        background:#fff url("data:image/gif;base64,R0lGODlhBAAEAIAAAP9mAAAAACH5BAAAAAAALAAAAAAEAAQAAAIEhI8JBQA7") repeat-x 0 0;
    }
    .cm-tabs-head-aside {
        position: absolute;
        top:0;
        right: 0;
        padding: 10px 0;
        text-align: right;
    }
    .cm-tabs>.body {
        padding: 20px;
        border: 1px solid #ccc;
        border-top: 0 none;
        border-radius:0 0 5px 5px;
        box-shadow: 1px 1px 2px 0 #ccc;
    }
    .cm-tabs>.foot, .cm-tab>.foot {margin-top: 20px;text-align: right;}
    .cm-tab {display: none;}
    .cm-tab-loading {min-height:31px;background:url("/SiteCollectionImages/cm-lib/loading.gif") no-repeat 0 0;}
    .cm-tab-meta {display: none;}
    /* @end */
