/**!
 * CM Typography
 * @author MGA
 * @version 1.2.4
 * @changelog 20130717 .cm-checklist
 * @changelog 20130618 .cm-arrow-next
 */
/* @group           Typo & headings */
    .cm-typo {color: #4d4d4d;font:normal 13px/1.4 Arial,Helvetica,Verdana,sans-serif;}
    .cm-typo-heading-1, .cm-typo-heading-2, .cm-typo-heading-3 {margin-bottom: 1em;}
    .cm-typo-heading-1, .ms-WPBody .cm-typo-heading-1 {font-size: 24px;line-height: 1.4;color: #f60;font-weight: normal;margin-bottom: 0.8333em;}
    .cm-typo-heading-2, .ms-WPBody .cm-typo-heading-2 {font-size: 15px;color: #006;font-weight: bold;}
    .cm-typo-heading-2>strong {text-transform: uppercase;}
    .cm-typo-heading-3, .ms-WPBody .cm-typo-heading-3 {font-size: 12px;color: #f60;font-weight: normal;}
/* @end */
/* @group           Anchors */
	.cm-typo a, .cm-typo a:link, .cm-typo a:hover {color: #39C;}
	.cm-typo a:visited, .cm-typo a:active {color: #0072BC;}
/* @end */
/* @group           Arrowed elements */
    .cm-list,.cm-checklist {margin:20px 0;}
    .cm-list>li, .cm-checklist>li, .cm-arrow, .cm-arrow-suffix {list-style-type: none;padding: 0 0 0 15px;position: relative;display: inline-block;}
    p.cm-arrow, div.cm-arrow, p.cm-arrow-suffix, div.cm-arrow-suffix  {display: block;}
    .cm-checklist>li {padding-left: 27px;}
    .cm-list>li, .cm-checklist>li {display: list-item;text-align: left;line-height: 16px;}
    .cm-list>li:before,.cm-arrow:before {position: absolute;content:url("data:image/gif;base64,R0lGODlhBgAKAIABAE1NTf///yH5BAEAAAEALAAAAAAGAAoAAAINBIJhl5tqnkOzRsjgKwA7");width: 6px;height: 10px;left:0;}/*arr_6x10_4d4d4d.gif*/
    .cm-checklist>li:before,.cm-check:before {position: absolute;content:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAMCAYAAAC9QufkAAABTElEQVR42pWQ20oCURSGe52ewE5EUNnJymEuxhkdlZJRDDI7XGhqCApJggRRD5ASMxTSSQoyicpKsIuCoCCIIOot/tqbdhs0O1z8sNbi/z7YuwnAn9O8boqRsP1foOPSB6XsBRPUWRuBSlnD0usqks/LEEtuKvjWWgvK5xqF4g9phG4SmL6OkR6zepF+W/u0uqiAgdKZB4mnDKJ3i5i8CMF9NIHuvJV04qSA1MsKEo8ZhG+TCFYjsBzK1CwcOxG9T9G7/3QO8p4HHfoABembySAUVQQqYfhOZuApBmgxWIlgtrqAqat5aKUgpN0xtG/0MZD/NjmYd0TYCxps2+M0asEH14Efjn0vxLwTbTUgg78EXZsWCFsqrLqdRjAcGNZtaM2ZOVgPc0GnMYRRQ4ElJ6E/K8KU7eHgTzAXDGJEl9GS6+Xg7zAXfISDDfIO3QDM4OfA0C8AAAAASUVORK5CYII=");width: 15px;height: 12px;left:0;}/*arr_6x10_4d4d4d.gif*/
    .cm-list>li+li, .cm-checklist>li+li {margin-top: 13px;}
    .cm-list-compact>li+li {margin-top:3px;}
    .cm-arrow-prev:before {content:url("data:image/gif;base64,R0lGODlhBgAKAIABADw8PP///yH5BAEAAAEALAAAAAAGAAoAAAIOjANwqZjG4JONHlfxTQUAOw==");}
    .cm-arrow-next:after {content:url("data:image/gif;base64,R0lGODlhBgAKAIABADw8PP///yH5BAEAAAEALAAAAAAGAAoAAAINBIJhl5tqnkOzRsjgKwA7");}
    .cm-arrow-suffix {padding: 0 15px 0 0;}
    .cm-arrow-suffix:before {left:auto;right:0;}
/* @end */
    
